{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Create{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-offset-1 col-lg-10">
        <div class="alert alert-dismissible alert-info">
            Now that you've created your posting, add some tags so that prospective auditioners know what skills you are looking for!
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-offset-1 col-lg-10">
        <div class="panel panel-primary">
            <div class="panel-heading">
                What skills or attributes do you want your auditioners to have?
            </div>
            <div class="panel-body">
                <form class="form-horizontal" style="margin:20px;" method="post">
                    <div class="row">
                        <div class="col-lg-12">
                            {% csrf_token %}
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <td>
                                            {{role.name}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Description
                                        </th>
                                        <td>
                                            {{role.description}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Domain
                                        </th>
                                        <td>
                                            {{role.get_domain_display}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Studio Address
                                        </th>
                                        <td>
                                            {{role.studio_address}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                        {{ formset.management_form }}
                        <table class="table table-striped">
                            {% for form in formset %}
                                {% if forloop.first %}
                                    <thead>
                                    <tr>
                                        {% for field in form.visible_fields %}
                                            <th>{{ field.label|capfirst }}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                {% endif %}
                                <tr class="{% cycle 'row1' 'row2' %} formset_row">
                                    {% for field in form.visible_fields %}
                                        <td>
                                            {# Include the hidden fields in the form #}
                                            {% if forloop.first %}
                                                {% for hidden in form.hidden_fields %}
                                                    {{ hidden }}
                                                {% endfor %}
                                            {% endif %}
                                            {% render_field field class+="form-control" %}
                                            {% if field.errors|length > 0 %}
                                            <div class="form-group">
                                                <ul>
                                                    {% for error in field.errors %}
                                                    <li style="color: red">{{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>  
                        </div>
                    </div>
                    <hr>
                    <button class="btn btn-primary" type="submit">Add Tags</button>
                </form>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $('.formset_row').formset({
            addText: 'Add Tag',
            deleteText: 'Remove',
            prefix: 'form1',
            addCssClass: 'btn btn-sm btn-primary',
            deleteCssClass: 'btn btn-sm btn-danger',
        });
</script>
{% endblock js %}