{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Create{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-9">
        <form class="form-horizontal" style="margin:20px;" method="post">
            {% csrf_token %}
            <input type="hidden" name="form_type">
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {% render_field field class+="form-control" %}
                {% if field.help_text %}
                <small class="form-text text-muted" >{{ field.help_text }}</small>
                {% endif %}
            </div>
            {% if field.errors|length > 0 %}
            <div class="form-group">
                <ul>
                    {% for error in field.errors %}
                    <li style="color: red">{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endfor %}
            <button class="btn btn-primary" type="submit">Create Role</button>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
{% endblock js %}