{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}AuditionMe!{% endblock %}

{% block content %}
<div id="jsonData" "></div>
<div id="filterDiv">
<div class = "row">
    <div class = "col-sm-6">
        <div class = "panel panel-default">
            <div class="panel-heading">Filter by Description Text</div>
            <div class="panel-body">
                <form id="text-filter">
                    <div class="input-group">
                        <input type="text" class="form-control" v-model="filterText" placeholder="Enter text to filter by">
                        <div class="input-group-btn">
                            <button v-on:click="setFilterText(filterText)" class="btn btn-primary" type="button">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class ="col-sm-6">
        <div class = "panel panel-default">
            <div class="panel-heading">Filter by Tag</div>
            <div class="panel-body">
                <select class="form-control" style="width:100%" id="tagSelect" multiple>
                    <option v-for="tag, index in tags" v-bind:value="tag">
                        (( tag ))
                    </option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class = "row">
    <div class = "col-sm-6">
        <div class = "panel panel-default">
            <div class="panel-heading">Filter by Date</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" v-model="filterDate" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class ="col-sm-6">
        <div class = "panel panel-default">
            <div class="panel-heading">Filter by Location</div>
            <div class="panel-body">Yeah IDK bout this one
                <button v-on:click="resetFilters" class="btn btn-primary pull-right" type="button">
                        Reset Filters
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class='wrapper' style="height: 70%">
            <table id="roles" class="table table-hover table-striped">
                <thead>
                    <tr style="background-color:white;">
                        <th>Role</th>
                        <th>Casting Agent</th>
                        <th>Date</th>
                        <th>Tags</th>
                        <th>Location</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="role in displayedRoles">
                        <td>(( role.role.description ))</td>
                        <td>(( role.agent ))</td>
                        <td>(( role.role.date ))</td>
                        <td><span class="badge badge-primary" v-for="tag in role.tags">(( tag ))</span>
                        </td>
                        <td>(( role.role.address ))</td>
                        <td><button class="btn btn-primary btn-sm pull-right">View</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    var unparsed = "{{roles}}"
    $(function() {
        unparsed = unparsed.split("&#39;").join("\"").split("&quot;").join("")
        parsed = processJS(unparsed)    
         $("#results").floatThead({
            scrollContainer: function($table){
                return $table.closest('.wrapper');
            }
        });
         setTimeout(function() {
            $("#tagSelect").select2();
        }, 100);
        filterApp = new Vue({
            el: "#filterDiv",
            delimiters: ["((","))"],
            // This is data that needs to be 2 way bound (such as the filter input)
            // These cannot be set to undefined/null. 
            data: {
                filterText: "",
                filterTags: [],
                filterDate: "",
                tags: [],
                displayedRoles: [],
                allRoles: [],
            },
            mounted: function() {
                // we save the 'this' keyword here because once we enter the next scope
                // 'this' will become the jQuery object $("#datetimepicker1") so
                // in order to access the app, we save it to a local variable
                var internalApp = this;
                this.allRoles = parsed
                for (var x = 0; x < parsed.length; x++) {
                    for (var y = 0; y < parsed[x].tags.length; y++) {
                        this.tags.push(parsed[x].tags[y])
                    }
                }
                $("#tagSelect").on("change", function() {
                    internalApp.tagFilter($("#tagSelect").val())
                })
                $('#datetimepicker1').datetimepicker();
                
                // Eonasdan does not support Vue out of the box, so we use jQuery event handler
                // catching the custom event from Eonasdan's API. 
                $('#datetimepicker1').on('dp.change', function() {
                    // get the date object in MomentJS Date Object format
                    var momentJSDateObj = $('#datetimepicker1').data('DateTimePicker').date();
                    //reset the other two filter types so that we only have one type of filter
                    internalApp.filterText = "";
                    internalApp.filterTags = [];

                    //temp storage to eventually become the displayedRoles
                    var filteredRoles = [];

                    //filter the displayed roles based on the filterText
                    for (i = 0; i < filterApp.allRoles.length; i++) {
                        if (filterApp.allRoles[i].role.date == momentJSDateObj.format('YYYY-MM-DD')) {
                            filteredRoles.push(filterApp.allRoles[i]);
                        }
                    }

                    //set the displayedRoles to our filtered roles
                    filterApp.displayedRoles = filteredRoles;

                    // saving it to Vue
                    internalApp.filterDate = momentJSDateObj.format('YYYY-MM-DD');
                });

            },
            methods: {
                setFilterText: function(filterText) {
                    if (event) {
                        //update the text to filter by
                        filterApp.filterText = filterText;
                        console.log(filterApp.filterText);

                        //reset the other two filter types so that we only have one type of filter
                        filterApp.filterTags = [];
                        filterApp.filterDate = "";

                        //temp storage to eventually become the displayedRoles
                        var filteredRoles = [];

                        //filter the displayed roles based on the filterText
                        for (i = 0; i < filterApp.allRoles.length; i++) {
                            if (filterApp.allRoles[i].role.description.toLowerCase().indexOf(filterText.toLowerCase()) != -1) {
                                filteredRoles.push(filterApp.allRoles[i]);
                            }
                        }

                        //set the displayedRoles to our filtered roles
                        filterApp.displayedRoles = filteredRoles;
                    }
                },
                tagFilter: function(selected) {
                    console.log(selected)
                    if (selected.length == 0) {
                        filterApp.displayedRoles = filterApp.allRoles;
                    }
                    else {
                        filterApp.displayedRoles = filterApp.allRoles.filter(function(role) {
                            var val = false;
                            for (var x = 0; x < selected.length; x++) {
                                if (role.tags.indexOf(selected[x]) > -1) {
                                    val = true;
                                }
                                else {
                                    if (val) {
                                        return false;
                                    }
                                }

                            }
                            return val;
                        })
                    }
                },
                resetFilters: function() {
                    filterApp.filterText = "";
                    filterApp.filterTags = [];
                    filterApp.filterDate = "";
                    filterApp.displayedRoles = filterApp.allRoles;
                }
            },
        })
    })
</script>
{% endblock js %}
