{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Edit Role{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-offset-1 col-lg-10">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Edit {{role.name}}
            </div>
            <div class="panel-body">
                <form id="tagEdit" class="form-horizontal" style="margin:20px;" method="post">
                    <div class='row'>
                        <div class="col-lg-12">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {% render_field field class+="form-control" %}
                                {% if field.help_text %}
                                <small class="form-text text-muted" >{{ field.help_text }}</small>
                                {% endif %}
                            </div>
                            {% if field.errors|length > 0 %}
                            <div class="form-group">
                                <ul>
                                    {% for error in field.errors %}
                                    <li style="color: red">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="">Tags</label><br>
                                <span v-for="tag in tags" class="badge badge-success pull-left" v-bind:id="tag.id" style="padding:10px; margin: 2px;">
                                    ((tag.tag))
                                    <i style="cursor:pointer" v-on:click="deleteTag(tag.id)" class="fa fa-times-circle"></i>
                                </span>
                                <input type="hidden" name="update_tags" value="" id="updatedTags">
                                <input type="text" class="form-control" v-model="insert" v-on:input="updateTags(event)" v-on:keyup.delete="removeTags()">
                                <small class="form-text text-muted" >To add new tags, simply write out the tag and put a comma "," at the end to delineate a new tag. To remove tags, you can click the X on the tags above, or continuously hit backspace (the tag to be deleted will be highlighted in red).</small>
                                
                            </div>
                            <hr><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Events</label>
                            {{ formset.management_form }}
                            <table class="table table-striped">
                                {% for form in formset %}
                                    {% if forloop.first %}
                                        <thead>
                                        <tr>
                                            {% for field in form.visible_fields %}
                                                <th>{{ field.label|capfirst }}</th>
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                    {% endif %}
                                    <tr class="{% cycle 'row1' 'row2' %} formset_row">
                                        {% for field in form.visible_fields %}
                                            <td>
                                                {# Include the hidden fields in the form #}
                                                {% if forloop.first %}
                                                    {% for hidden in form.hidden_fields %}
                                                        {{ hidden }}
                                                    {% endfor %}
                                                {% endif %}
                                                {% render_field field class+="form-control" %}
                                                {% if field.errors|length > 0 %}
                                                <div class="form-group">
                                                    <ul>
                                                        {% for error in field.errors %}
                                                        <li style="color: red">{{ error }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>  
                        </div>
                    </div>
                    <button class="btn btn-primary" type="button" v-on:click="subForm">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}



{% block js %}
<script type="text/javascript">
    loopCounter = 0;
    
    data = [
        {% for tag in role.tags.all %}
            { 
                "tag": "{{tag.name}}", 
                "id": {{tag.id}},
            },
        {% endfor %}
    ]
    $(function() {
        // life cycle fix
        setTimeout(function() {
            $('.formset_row').formset({
                    addText: 'Add Event',
                    deleteText: 'Remove',
                    prefix: 'form2',
                    addCssClass: 'btn btn-sm btn-primary',
                    deleteCssClass: 'btn btn-sm btn-danger',
                    added: function(row) {
                        loopCounter++;
                        // this initializes the bootstrap datetimepicker on a new row
                        var formElements = new Array();
                        $(row).each(function(){
                            formElements.push($(this).find(':input'));
                        });
                        console.log(formElements)
                        $(formElements[0][3]).datetimepicker({
                        "format": "YYYY-MM-DD HH:mm",
                        "icons": {
                            "date": "glyphicon glyphicon-time",
                            "up": "fa fa-arrow-up",
                            "down": "fa fa-arrow-down"
                        }
                        });
                        $(formElements[0][3]).next().click(function(event) {
                            $(formElements[0][3]).data("DateTimePicker").show();
                        })
                    },
                    removed: function() {
                        loopCounter--;
                    }
            });
        }, 100);
        app = new Vue({
            el: "#tagEdit",
            delimiters: ["((", "))"],
            data: {
                tags: [],
                insert: "",
                tagDelete: 0,
                addedTags: 0,
            },
            mounted: function() {
                this.tags = data;
            },
            methods: {
                updateTags: function(event) {
                    // this fires on input, if the comma delineator is found,
                    // it creates a tag and deletes the text
                    app.tagDelete = 0;
                    var id = app.tags[app.tags.length - 1].id
                    $("#" + id).css("background-color", "")
                    if (app.insert[app.insert.length - 1] == ",") {
                        app.tags.push({
                            "tag": app.insert.substring(0, app.insert.length - 1),
                            "id": "newId" + app.addedTags++,
                        })
                        app.insert = "";
                    }
                    else {
                        // do nothing, typing
                    }
                },
                removeTags: function() {
                    // if the user hits backspace twice, then it highlights the
                    // tag to be deleted, a third backspace deletes the tag
                    app.tagDelete +=1;
                    if (app.insert == "" && app.tagDelete == 2) {
                        var id = app.tags[app.tags.length - 1].id
                        $("#" + id).css("background-color", "red")
                    }
                    else if (app.insert == "" && app.tagDelete == 3) {
                        app.tags.splice(app.tags.length - 1, 1);
                        app.tagDelete = 1;
                    }
                },
                subForm: function() {
                    $("#updatedTags").val(JSON.stringify(app.tags))
                    $("#tagEdit").submit();
                },
                deleteTag: function(id) {
                    // when the user clicks on the X for the tags, this method
                    // is used to splice out the tag from the array.`
                    for (var x = 0; x < app.tags.length; x++) {
                        if (app.tags[x].id == id) {
                            console.log(app.tags[x])
                            app.tags.splice(x, 1);
                            break;
                        }
                    }
                }
            }
        })

    })
</script>
{% endblock js %}