{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Role{% endblock %}

{% block content %}
<div id="roleDiv">
	<div class = "container-fluid">
	      <div class="row">
	        <div class="col-sm-offset-3 col-sm-6">
	          <div class="panel panel-primary">
	            <div class="panel-heading" v-model="currentRole">
	              <h2 class='text-center'> {{role.name}} </h2>
	            </div>
	            <div class="panel-body" v-model="currentRole" v-model="domain">
	            	{% for tag in role.tags.all %}
		            	<span class="badge badge-info pull-right">
		     				{{ tag }}
		            	</span>
	            	{% endfor %}
	            	<br>
	            	<br>
	            	<h5> Casting Agent: {{role.agent}}</h5>
	            	<h5> Role Type: {{role.get_domain_display}} </h5>
	            	<h5> Studio Address: {{role.studio_address}}</h5>
	            	<br>
	            	<h5> Description</h5>
	            	<div class="well" style="max-height: 300px; overflow-y:scroll;">{{role.description}}</div>
	              	<div class="text-center">
	                	<button type="submit" class="btn btn-primary text">Schedule Audition</button>
	              	</div>
	            </div>
	          </div>
	        </div>
	      </div>
	  </div>
</div>
{% endblock %}



{% block js %}

{% endblock js %}