{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-offset-4 col-sm-4">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2>Login</h2>
                </div>
                <div class="panel-body">
                  <form class="form-horizontal" style="margin:20px;" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.username.label_tag }}
                        {% render_field form.username class+="form-control" %}
                    </div>
                    {% if form.username.errors %}
                    <div class="form-group">
                        Errors
                        <ol>
                        {% for error in form.username.errors %}
                            <li><strong>{{ error|escape }}</strong></li>
                        {% endfor %}
                        </ol>
                    </div>
                    {% endif %}
                    <div class="form-group">
                        {{ form.password.label_tag }}
                        {% render_field form.password class+="form-control" %}
                    </div>
                    {% if form.password.errors %}
                    <div class="form-group">
                        Errors
                        <ol>
                        {% for error in form.password.errors %}
                            <li><strong>{{ error|escape }}</strong></li>
                        {% endfor %}
                        </ol>
                    </div>
                    {% endif %}
                    <button class="btn btn-primary" type="submit">Login</button>
                  </form>
                  <a href="{% url 'session:signup' %}">Create an Account</a>
                </div>
            </div>
        </div>
        <div class="row">
            {% if form.non_field_errors %}
              <div class="non-field-errors">
                {% for err in form.non_field_errors %}
                  <p class="form-error">{{ err }}</p>
                {% endfor %}
              </div>
            {% endif %}
        </div>
    </div>
</div>
  
{% endblock %}