.custom-select2 {
  color:red !important;
  background-color:blue;
} 

.list-complete-enter, .list-complete-leave-active {
  opacity: 0;
}

.btn-disabled,
.btn-disabled[disabled] {
  opacity: .4;
  pointer-events: none;
  cursor: pointer;
}
.prev {
  color:white;
}
.picker-switch {
  color:white;
}
.next {
  color:white;
}
.table-fixed thead {
  width: 97%;
}
.timepicker-hours {
  color:white !important;
}
.old {
  color: #333333 !important;
}
.day {
  color:white;
}
.new {
  color: #333333 !important; 
}
/*.datepicker-days {
  color:white;
}*/
.bootstrap-datetimepicker-widget table td.old, .bootstrap-datetimepicker-widget table td.new {
  color:white;
  background-color: #1C1C1C;
}
.bootstrap-datetimepicker-widget table td span {
    color: white;
    background-color: #1C1C1C;
}
.bootstrap-datetimepicker-widget table td span:hover {
    background: #eeeeee;
    color:black;
}
.bootstrap-datetimepicker-widget table td.day:hover, .bootstrap-datetimepicker-widget table td.hour:hover, .bootstrap-datetimepicker-widget table td.minute:hover, .bootstrap-datetimepicker-widget table td.second {
  color:white;
}
.bootstrap-datetimepicker-widget table td.day:hover, .bootstrap-datetimepicker-widget table td.hour:hover, .bootstrap-datetimepicker-widget table td.minute:hover, .bootstrap-datetimepicker-widget table td.second:hover {
    color:black;
    cursor: pointer;
}
.select2-container--default .select2 {
  width:100% !important;
}
table { 
  empty-cells: show; 
}
textarea {
    resize: none;
}
.table-fixed tbody {
  height: 3000px;
  overflow-y: auto;
  overflow-x:hidden;
  width: 100%;
}
/*.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}*/
/*.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}*/

.dropdown-menu {
    background-color: #1C1C1C;
}

.dropdown-menu li a {
    color: white;
    text-decoration: none;
    padding-left: 20%;
}
 
 .dropdown-menu li a:hover {
    background-color:#EEEEEE;
    color:black;
 }

.toggled {
    display:none !important;
}
.btn span.glyphicon {               
    opacity: 0;             
}
.btn.active span.glyphicon {                
    opacity: 1;             
}
.wrapper {
  width:100%;
  height:400px;
  overflow-y: auto;
}

.select2-container--bootstrap .select2-selection--single {
    height: 43px !important;
    font-size: 18px;
}