<!DOCTYPE html>
<html Lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AuditionMe</title>
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-confirm.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.floatThead.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/select2.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vue.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vuex.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Sortable.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.ui.touch-punch.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sha256.jquery.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/select2-bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-confirm.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    <!-- dynamic follows -->
    {% block custom_scripts %}
    {% endblock custom_scripts %}
</head>
<body>
    {% include 'session_security/all.html' %}

    
    {% include 'partials/navbar.html' %}

    {% if messages %}
        <div class="container">
            <ul id="messages" class="messages list-unstyled" style="margin-top:1em; z-index:2; text-align: center;">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <div class="alert alert-danger">{{ message }}</div>
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                <div class="alert alert-success">{{ message }}</div>
                        {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <script type="text/javascript">
        setTimeout(function() {
            $("#messages").fadeOut("quick")
        }, 3000)
    </script>
    <div style="position: absolute; left: 45%; top:25%; z-index:3;">
        <i id="loader" class="fa fa-circle-o-notch fa-spin fa-5x fa-fw toggled" style="z-index:3"></i>
    </div>
    <!-- main content here -->
    <div class="container-fluid">
        {% block content %}
        {% endblock content %}
    </div>
    
    <!-- javascript will go here -->
    {% block js %}
    {% endblock js %}
    <script type="text/javascript">
        function showSuccessMessage(message) {
            /*
                Shows success message DOM element for UX.
            */
            $.confirm({
                title: 'Success!',
                closeIcon: true, 
                content: message,
                type: 'green',
                typeAnimated: true,
                autoClose:'close|3000',
                buttons: {
                    close: {
                        text: 'Close',
                        btnClass: 'btn-green',
                        action: function () {
                            // window.location.reload()
                        },
                    }
                }
            });
        };
        function showErrorMessage(message) {
            $.confirm({
                title: 'Error',
                closeIcon: true, 
                content: message,
                type: 'red',
                typeAnimated: true,
                backgroundDismiss: true,
                autoClose: 'close|3000',
                buttons: {
                    close: {
                        text: 'Close',
                        btnClass: 'btn-red',
                        action: function(){
                            window.location.reload()
                        }
                    }
                }
            });
        };
    </script>
</body>
</html>